.header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        color: #fff;
        letter-spacing: 3px;
    }
    p {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 5px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
        }
    }
}