.App {
    width: 100%;
    min-height: 100vh;
    padding: 25px 0;
    background: $darkblue;
    display: grid;
    place-items: center;

    .content {
        width: 800px;
    }
}


@media screen and (max-width: 850px) {
    .App {
        .content {
            width: 475px;
        }
    }
}

@media screen and (max-width: 500px) { 
    .App {
        .content {
            width: 92%;
        }
    }
}